
    <header>
        <div class="main">
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/student/complaint">Complaint</a></li>
                <li><a href="/student/request">Request</a></li>
                <li class="active"><a href="#">Mess</a></li>
                <li><a href="/student/notice">Notice</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </div>
        
        <div class="container">
            <h1>Mess Menu</h1><br>
                        
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Day</th>
                  <th>Dinner</th>
                  <th>Lunch</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>Monday</td>
                  <td><%= mess[0].mon %></td>
                  <td><%= mess[0].lmon %></td>
                </tr>
                <tr class="text-center">
                  <td>Tuesday</td>
                  <td><%= mess[0].tue %></td>
                  <td><%= mess[0].ltue %></td>
                </tr>
                <tr class="text-center">
                  <td>Wednesday</td>
                  <td><%= mess[0].wed %></td>
                  <td><%= mess[0].lwed %></td>
                </tr>
                <tr class="text-center">
                    <td>Thursday</td>
                    <td><%= mess[0].thu %></td>
                    <td><%= mess[0].lthu %></td>
                </tr>
                <tr class="text-center">
                    <td>Friday</td>
                    <td><%= mess[0].fri %></td>
                    <td><%= mess[0].lfri %></td>
                </tr>
                <tr class="text-center">
                    <td>Saturday</td>
                    <td><%= mess[0].sat %></td>
                    <td><%= mess[0].lsat %></td>
                </tr>
                <tr class="text-center">
                    <td>Sunday</td>
                    <td><%= mess[0].sun %></td>
                    <td><%= mess[0].lsun %></td>
                </tr>
                <tr style="background-color: crimson;" class="text-center">
                    <td>Message</td>
                    <td> <%= mess[0].message %> </td>
                    <td></td>
                </tr>
              </tbody>
            </table>
           
          </div>
        </header>
          
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
    *{
        margin: 0;
        padding: 0;
        font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
    }
    header{
        background-color:  #919aa3;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    ul{
        float: right;
        list-style-type: none;
    }
    ul li{
        display: inline-block;
        margin-top: 25px;
    }
    ul li a{
        text-decoration: none;
        color: #fff;
        padding: 8px 60px;
        border: 1px solid transparent;
        transition: 0.6s ease;
    }
    ul li a:hover{
        background-color: #fff;
        color:black;
    }
    .logo img{
        float: left;
        width: 250px;
        height: auto;
    }
    .main{
        max-width: 1350px;
        margin: auto;
    }
    ul li.active a{
        background-color: #fff;
        color:black;  
    }
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 900px;
        height: 400px;
        display: flex;
        color: white;
    }
    .table{
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>
